
.button-main {
  border-radius: 8px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: white;
  background-color: lightskyblue;
  font-size: large;
  font-weight: bold;
}
.content-main {
  padding: 1rem !important;
  background-color: aliceblue;
}
.cursor {
  cursor: pointer;
}
